<meta charset="utf-8">
<title>Добавление {{ add_string }}</title>
<h1>{{ error_message|default:""}}</h1>
<form action="{% url 'add_new_some' some %}" method="post">
	{{ form }} {% csrf_token %}
	<input type="submit" value="Добавить">
</form>
<a href = "http://127.0.0.1:8000/contactBook/">
	Назад
</a>
<hr align="left" size="3" width="1000" color="#000000" noshade>
<div class='scrolling'>
	<table border = "3" bordercolor = "black">
		{% for count in have %}
			<tr>
				{% if street %}
					<td>{{count.city.city}}</td>
				{% endif %}
				<td>{{count}}</td>
			</tr>
		{% endfor %}
	</table>
</div>