<title>Телефонная книга</title>
<p>
	<a href = "http://127.0.0.1:8000/contactBook/add/">
		Добавить контакт
	</a>
</p>
<p>
	<a href = "http://127.0.0.1:8000/contactBook/add_job/">
		Добавить организацию
	</a>
</p>
<p>
	<a href = "http://127.0.0.1:8000/contactBook/add_post/">
		Добавить должность
	</a>
</p>
<p>
	<a href = "http://127.0.0.1:8000/contactBook/add_city/">
		Добавить город
	</a>
</p>
<p>
	<a href = "http://127.0.0.1:8000/contactBook/add_street/">
		Добавить улицу
	</a>
</p>
<p>
	<a href = "http://127.0.0.1:8000/contactBook/search/">
		Найти контакт
	</a>
</p>
