<title>Поиск контакта</title>
<body bgcolor="LightCyan" vlink="black">
	<font size=5 color="DarkCyan" face="times">
		<p>
			<a href = "http://127.0.0.1:8000/contactBook/search/surname/">
				Искать по фамилии
			</a>
		</p>
		<p>
			<a href = "http://127.0.0.1:8000/contactBook/search/job/">
				Искать по месту работы
			</a>
		</p>
		<p>
			<a href = "http://127.0.0.1:8000/contactBook/search/telephone/">
				Искать по номеру телефона
			</a>
		</p>
		<a href = "http://127.0.0.1:8000/contactBook/">
			Назад
		</a>
	</font>
</body>